
	<nav id="navbar" style="z-index: 9997" class="navbar navbar-light bg-white sticky">
		<div class="sidenav-trigger brand-logo left black-text" data-target="slide-out">
			<i class="material-icons">menu</i></div>
		<div class="brand-logo center branded text-info text-wrap" style="font-size: 100%;"><?php echo IEC_TITLE; ?><span class="grey-text "><?php echo IEC_TITLE2; ?></span> </div>
		<div class="brand-logo right black-text icontext">
			<div class="icon"><i class=" material-icons" style="margin: 0 0 0 0;">shopping_cart</i><span style="top:10px" class="notify bg-info"><?php echo $this->cart->total_items(); ?></span></div>
		</div>

	</nav>
	<ul id="slide-out" class="sidenav cloudy-knoxville-gradient" style="z-index: 9999">
		<li>
			<div class="user-view">
				<div class="background">
					<img class="img-fluid" src="https://videohive.img.customer.envatousercontent.com/files/a7fdbcb2-4435-4a02-9d8d-531ac80884b5/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=f9bcb082fbc14594e57cf046199dba82">
				</div>
				<a href="#user"><img class="circle" src="https://c8.alamy.com/comp/P9MYWR/man-avatar-profile-P9MYWR.jpg"></a>
				<a href="#name"><span class="white-text name">Customer Name</span></a>
				<a href="#email"><span class="white-text email">00000000@infox e-commerce</span></a>
			</div>
			<a href="#email"><span class="black-text ">Cart</span></a>
		</li>
		<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li><a href="#!">Second Link</a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a class="subheader">Subheader</a></li>
		<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
	</ul>
