/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
html, body {
    font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
.inr:before {
        content: "\20B9 ";
    }
.inr-dis:before {
        content: "- \20B9 ";
    }

    @font-face {
        font-family: "Cooper Black";
        src: url("/infox_ec_cdn/CooperBlackStd.otf")
    }
    body {
        color: black;
        font-size: 95%;
        font-family: 'Roboto', sans-serif;
        background-image: url("./src/cdn/diagonal-waves.png");
    }
    
    section {
        padding-top: 70px;
        width: 100%;
        min-height: 75vh;
    }

    .branded {
        font-family: "Cooper Black", serif;
        text-transform: uppercase;
    }

    .masthead {
        height: 100vh;
        min-height: 500px;
        background-color: white;
        background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px grey;
    }

    ::-webkit-scrollbar-thumb {
        background: #0099CC !important;
    }

    ::-webkit-scrollbar-corner {
        display: none;
    }

    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    }